<hr>
<br>
<hr>

<div class="card text-white bg-danger mb-3" style="margin-top:30px;margin-bottom:40px">
    <div class="card-header text-center">Shopping Cart</div>
    <div class="card-body">

        <br>
        <hr>
        <br>
        <hr>

        <div class="card text-white bg-danger mb-3" style="margin-top:20px;margin-bottom:30px">
            <div class="card-header text-center">Shopping Cart</div>
            <div class="card-body">

                <h5 class="card-title">Total:&#8377; {{total}}</h5>
                <hr>
                <h6 class="card-title">Items bought:</h6>

                <ul>
                    <li *ngFor="let order of orders.productOrders">
                        {{ order.product.pname }} - {{ order.quantity}} pcs.
                    </li>
                </ul>

                <button class="btn btn-light btn-block" (click)="finishOrder()" [disabled]="orders.productOrders.length == 0">Checkout =======
                    <button class="btn btn-light btn-block" (click)="finishOrder()" [disabled]="orders.productOrders.length == 0">Checkout

        </button>