<form class="wrap">
    <div>
        <h3 align="center" style="color: rgb(60, 212, 136)">Search:
            <input type="text" placeholder="Search by the name" [(ngModel)]="searchTerm" (input)="search($any($event.target).value)" />
        </h3>
    </div>
</form>
<br>
<hr>

<div class="card" style="width: 20rem; display:inline-block;margin-left:30px;margin-bottom: 100px;" *ngFor="let prod of productsser | searchFilter: searchTerm; index as i">
    <div style="display:flex; height:18rem;">

        <img src=c lass="card-img-top" alt="..." />
    </div>
    <div class="card-body">
        <h6> Product Name:</h6>
        <h4 class="card-title">{{prod.pname}} </h4>
        <h6>Product Description:</h6>
        <h4 class="card-title">{{prod.pdesc}}</h4>
        <h6>Product Price:</h6>
        <h4 class="card-title">{{prod.price | currency:'&#8377;'}}</h4>


    </div>
</div>